@import url("../../variables.css");
.stats {
  display: flex;
  justify-content: center;
}
.score-information {
  border-right: 1px solid;
  padding-right: 0.6rem;
  margin-right: 0.2rem;
}
.score-information > h3 {
  padding: 0.2rem 0.8rem;
  text-align: center;
  margin: 0.2rem;
  background: var(--main-button-background);
}
.score-information > .score {
  text-align: center;
}
.scored_by {
  margin-top: 0.6rem;
  text-align: center;
}
ul.rankings {
  list-style-type: none;
  display: flex;
  padding: 0.3rem;
  gap: 0.8rem;
}
.studio-name {
  margin-top: 1rem;
  padding: 0.3rem;
  display: block;
  color: var(--main-text-color);
}
