@import url("../../variables.css");
.hero-img__container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.primary-info {
  display: grid;
  width: 100%;
  align-items: center;
  padding: 0.2rem 0.4rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
section.stats {
  display: flex;
  justify-content: center;
}
.score-information {
  border-right: 1px solid;
  padding-right: 0.6rem;
  margin: 0rem 0.3rem 0.6rem 0rem;
}
.score-information > h3 {
  padding: 0.2rem 0.8rem;
  text-align: center;
  margin: 0.2rem;
  background: var(--main-button-background);
}
.score-information > .score {
  text-align: center;
}
.scored_by {
  margin-top: 0.6rem;
  text-align: center;
}

ul.rankings {
  list-style-type: none;
  display: flex;
  padding: 0.3rem;
  gap: 0.8rem;
}
h4.studio-name {
  margin-top: 1rem;
  padding: 0.3rem;
}
p.synopsis {
  width: 70%;
  max-width: 700px;
  margin: 2rem auto;
  text-align: center;
}
p.synopsis::first-letter {
  font-size: 1.6rem;
  font-weight: bolder;
}
.detailed-anime {
  width: 100%;
}
@media screen and (min-width: 700px) {
  .primary-info {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .hero-img__container {
    justify-content: right;
  }
}
