.character {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: 3.5rem 0rem;
}
.hero-character,
.hero-voice {
  width: 75px;
}
.voice-img__container,
.character-img__container {
  display: flex;
  justify-content: center;
}
.character-name {
  text-align: left;
}
.voice-name {
  text-align: right;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
