.character {
  display: grid;
  gap: 10rem;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: 3.5rem 0rem;
}
.hero-character,
.hero-voice {
  width: 75px;
}
.voice-img__container,
.character-img__container {
  display: flex;
  justify-content: center;
}
.character-name,
.voice-name {
  margin: 0.3rem;
  width: 80px;
}
.character-name {
  text-align: left;
}
.voice-name {
  text-align: end;
}
.wrapper,
.wrapper-voice {
  display: flex;
  justify-content: right;
}
div.wrapper-voice {
  justify-content: left;
}
@media screen and (max-width: 700px) {
  .character {
    gap: 0;
  }
}
