@import url("../../../variables.css");
.character {
  display: grid;
  background-color: var(--main-highlight-color);
  grid-template-columns: 1fr 1fr;
  text-align: left;
  gap: 0.3rem;
}
.hero-character,
.hero-voice {
  width: 70px;
  height: 100px;
}
.voice-img__container {
  display: flex;
  justify-content: right;
}
.character-img__container {
  display: flex;
  justify-content: right;
}
.wrapper,
.wrapper-voice {
  display: flex;
  justify-content: left;
  gap: 0.2rem;
}
.wrapper-voice {
  text-align: right;
  justify-content: right;
}
.character-role,
.voice-language {
  font-weight: 200;
  margin-top: 0.3rem;
}
