.anime-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.anime-image__container > img {
  width: 100%;
  aspect-ratio: 1/1.5;
  object-fit: cover;
}
.anime-item__title {
  flex-grow: 1;
  margin: 0.3rem 0rem;
  padding: 0rem 0.6rem;
  text-align: center;
}
@media screen and (max-width: 460px) {
  .anime-image__container > img {
    max-height: 280px;
  }
}
