.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  color: var(--main-text-color);
}
.pagination a {
  font-size: 1.4rem;
  color: inherit;
  margin: 0.15rem;
  padding: 0.2rem;
  background: linear-gradient(to right, #cb2d3e, #ef473a);
}
