@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #232b2b;
  color: #e2e8f0;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
#root {
  display: flex;
  flex-grow: 1;
  margin-top: 4rem;
  overflow: hidden;
  justify-content: center;
}
#main-header {
  position: fixed;
  z-index: 2;
  background-color: #232b2b;
  width: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: inherit;
  transition: background-color 5000s ease-in-out 0s;
}
