:root {
  --main-text-color: #e2e8f0;
  --main-input-field-color: #a9a9a9;
  --main-overlay-color: #c7c2c2;
  --main-body-color: #070606;
  --main-button-background: linear-gradient(to right, #cb2d3e, #ef473a);
}
